<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../request-list.html">

<dom-module id="admin-console">
  <template>
    <request-list></request-list>
  </template>

  <script>
  class AdminConsole extends Polymer.Element {
  
    static get is() {
      return 'admin-console';
    }

    static get properties() {
      return {

      };
    }
  }

  customElements.define(AdminConsole.is, AdminConsole);
  </script>
</dom-module>