#root {
  padding: 16px;
}

header {
  display: flex;
  flex-direction: vertical;
  height: 64px;
  padding: 0 16px;
  font-size: 20px;
  pointer-events: none;
  background: #2196f3;
  color: white;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

div.main-title {
  display: flex;
  pointer-events: none;
}